<h1>
  {{list.name}}
  <button class="btn btn-xs btn-default" style="margin: 0px 5px;" ng-click="editName()">Edit</button>
</h1>
<h4>
  Last Sent: {{list.lastSent | date:'short'}}
  <button class="btn btn-sm btn-primary" style="margin: 0px 5px;" ng-click="showModal()">New Message</button>
</h4>
<send-modal list="list" on-message-sent="messageSent(message)" close-modal="closeModal()" ng-show="isModalOpen"></send-modal>
<label for="exampleInputEmail1">Add Phone Number</label>
<form role="form" ng-submit="addNumber(number)">
  <div class="form-group col-sm-9">
    <input type="phone" class="form-control" placeholder="Enter number" ng-model="number">
  </div>
  <button type="submit" class="btn btn-default col-sm-3">Add</button>
</form>
<table class="table">
  <thead>
    <td>Phone Number</td>
    <td>Delete?</td>
  </thead>
  <tbody>
    <tr ng-repeat="number in list.numbers">
      <td>{{number}}</td>
      <td>
        <button class="btn btn-warning" ng-click="removeNumber(number)">Remove</button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-danger btn-block" ng-click="deleteList(list)">Delete List</button>
