<h1>Lists</h1>
<button class="btn btn-primary" ng-click="newMessage()">New Message</button>
<button class="btn btn-warning" ng-click="createList()">New List</button>
<send-modal list='' on-message-sent='messageSent(message)' close-modal='closeModal()' ng-show="isModalOpen"></send-modal>
<table class="table">
  <thead>
    <td>Name</td>
    <td># of recipients</td>
    <td>Last Sent</td>
  </thead>
  <tbody>
    <tr ng-repeat="list in lists" ng-click="goToList(list)" style="cursor: pointer;">
      <td>{{list.name}}</td>
      <td>{{list.numbers.length}}</td>
      <td>{{list.lastSent | date:'short'}}</td>
    </tr>
  </tbody>
</table>
